body{
    	margin: 0;
    	padding: 0;
    	height: auto;
    	width: auto;
    	font-family: 'Arial';
    }
    button{
      cursor: pointer;
    }
    .list img {
      display: inline-block;
      float: left;
      width:200px ;
      height:200px;  
      padding-left: 30px;
      padding-top: 10px;
      padding-bottom: 10px;  }
   
    .col-8 {
      float: left;
      margin-left: 0;
    }
/*    #################################### CART #####################################*/
    .products-cart {
      margin-top: 50px;
      margin-right: 50px;
    }
    .products-cart .bill ul {
      list-style: none;
    }
    .products-cart .bill li {
      display: block;
      border-bottom: solid grey 1px;
      padding: 10px 0px 50px 0px;
    }
    .products-cart .bill span.price {
      font-size: 14px;
      display: inline;
      float: right;
    }
    .products-cart .bill span.item-desc {
      font-size: 14px;
      font-weight: bold;
      display: inline;
    }
    .product p{
    	font-family: Arial, Helvetica, sans-serif;
    	color: #555;

    }
    .value{

    	font-size: ;
    	font-family: Arial, Helvetica, sans-serif;
    	color: #555;
    }
/*    ################################## END ###############################################3*/
    .header {
      z-index: -1;
      color: white;
      background: #4ea44e;
      margin-top: -10px;
      padding: 1.5rem;
    }
    .header .fa-shopping-cart {
      float: right;
      font-size: 1.2rem;
    }
    .buttons {
      max-width: 92%;
      width: 900px;
      text-align: right;
      padding: 0 0 10px 10px;      
    }
    .buttons button {
      height: 36px;
      width: 40px;
      margin-left: 4px;
      font-size: 24px;
      color: darkgrey;
      text-align: center;
      border-radius: 4px;
      border: none;
      outline: none;
      background: none;
    }
    .buttons button:hover {
      cursor: pointer;
      box-shadow: 0px 0px 3px #666;
      color: white;
    }
    
    button.add_to_cart {
      background-color: orange;
      border: none;
      border-radius: 5px;
      padding: 10px 15px 10px 15px;
      color: white;
    }
    button.add_to_cart:hover {
      background-color: darkorange;
    }
    .wrapper {
      max-width: 85%;
      width: 1000px;
      padding: 20px 20px 0;
      background-color: #F0F0E8;
      position: relative;
      overflow: hidden;
    }
    .list .item {
    	height:auto;
      background-color: #fff;
      overflow: hidden;
      border-radius: 5px;
      box-shadow: 0px 1px 3px #bbb;
    }
    
    a {
      display: block;
      transition: 0.2s;
    }
    a:hover {
      opacity: 0.9;	
      cursor: pointer;
    }
    h2 {
      transition: 0.2s;
    }
    h2:hover {
      color: #666;
      cursor: pointer;
    }
    .wrapper span {
      font-size: 24px;
    }
    span.price {
      color: black;
      display: block;
    }

/*    #################################### LIST #####################################*/    
    .list .details{
    	padding-left: 35px;
    }
    .list .details h2{
    	 margin-bottom: 0;
    }
    .list .details p{
    	color: #ADAD85;
    	font-size: 10px;
    	margin-top: 0;
    	padding-bottom: 10px;
    }
    .list .details p:hover{
    	color:#111111 ;
    	cursor: pointer;
    }
    .list .item {
      width: 100%;
      margin: 0 auto 20px;
    }
    /*.list img {
      max-width: 30%;
    }*/
    .list .details {
      float: left;
      max-width: 66%;
      margin-top: 4%;
      margin-left: 1%;
    }
    .list button.add_to_cart {
    	margin-top: 10px;
      background-color: orange;
      border: none;
      border-radius: 10px;
      padding: 5px 15px 5px 15px;
      color: white;
    }
    .list button.add_to_cart:hover {
      background-color: darkorange;
    }
[id^="cancel-btn"]:hover{
  color: red;
}

#item-count{
  border: solid red 1px;
  padding: 1px;
  border-radius:100px;
  background-color: red;
}

 /*    #################################### END #####################################*/   

 /*    #################################### GRID #####################################*/
    .grid img {
      width:200px ;
      height:200px; 
        }
    .grid .item {
    	height:auto;
      width: 270px;
      margin:20px 5px 10px 10px;
      text-align: center;
      background-color: #fff;
      overflow: hidden;
      border-radius: 5px;
      padding-bottom: 10px;
      box-shadow: 0px 1px 3px #bbb;
      float: left;
      padding-right: 6px;
    }
    
    .grid .details h2{
    	 margin-bottom: 0;
    	 margin-top: 0;
    }
    .grid .details p{
    	color: #ADAD85;
    	font-size: 10px;
    	margin-top: 0;
    	padding-bottom: 10px;
    }
    .grid .details p:hover{
    	color:#111111 ;
    	cursor: pointer;
    }
   	.grid button{
   		margin-top: 10px;
   	}
    
/*    #################################### END #####################################*/
    #oos{
    	background: #999;
    }
    #oofs{
    	background: #999;
    }
